# pandas

## Environment Setup <a class="tocSkip">

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:70% !important; margin-left:350px; }</style>"))

## Modules Import

In [2]:
import pandas as pd

## Other Libraries
import numpy as np
import datetime as dt
from datetime import datetime
from datetime import date

### Display Setup
It is good idea to configure output setup as prefered

In [3]:
pd.set_option( 'display.notebook_repr_html', False)  # render Series and DataFrame as text, not HTML
pd.set_option( 'display.max_column', 10)    # number of columns
pd.set_option( 'display.max_rows', 10)     # number of rows
pd.set_option( 'display.width', 80)        # number of characters per row

## Pandas Objects
### Pandas Data Types
- pandas.Timestamp
- pandas.Timedelta
- pandas.Period
- pandas.Interval
- pandas.DateTimeIndex


### Pandas Data Structure  

|Type        | Dimension | Size      | Value   | Constructor
|:---------- |:----------|:----------|:--------|:----------------------------------------------------
|Series      | 1         | Immutable | Mutable | pandas.DataFrame( data, index, dtype, copy)  
|DataFrame   | 2         | Mutable   | Mutable | pandas.DataFrame( data, index, columns, dtype, copy)
|Panel       | 3         | Mutable   | Mutable | 

**data** can be ndarray, list, constants  
**index** must be unique and same length as data. Can be integer or string
**dtype** if none, it will be inferred  
**copy** copy data. Default false

## Class Method

### Convert to ```Timestamp```
Use ```to_datetime```, resulting data structure depends on structure.  
Source can be **string, date, datetime object**

#### From List to ```DateTimeIndex```

In [4]:
dti = pd.to_datetime(['2011-01-03',      # from string
                date(2018,4,13),        # from date
                datetime(2018,3,1,7,30)]# from datetime
              )
dti

DatetimeIndex(['2011-01-03 00:00:00', '2018-04-13 00:00:00',
               '2018-03-01 07:30:00'],
              dtype='datetime64[ns]', freq=None)

#### From Series to Series

In [5]:
sdt = pd.to_datetime(pd.Series(['2011-01-03',      # from string
                date(2018,4,13),        # from date
                datetime(2018,3,1,7,30)]# from datetime
              ))

In [6]:
sdt[1]

Timestamp('2018-04-13 00:00:00')

#### From Scalar to Timestamp

In [7]:
print( pd.to_datetime('2011-01-03'))    # from string
print( pd.to_datetime(date(2011,1,3)))  # from date
print( pd.to_datetime(datetime(2011,1,3,5,30))) # from datetime

2011-01-03 00:00:00
2011-01-03 00:00:00
2011-01-03 05:30:00

### Generate Timestamp Sequence

#### ```date_range()```
Return ```DateTimeIndex``` object

Generate **sequence of HOURS**

In [8]:
## Specify start, Periods, Frequency
## Start from Date Only
pd.date_range('2018-01-01', periods=3, freq='H')

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00'],
              dtype='datetime64[ns]', freq='H')

In [9]:
## Start from DateTime
dti = pd.date_range(datetime(2018,1,1,12,30), periods=3, freq='H')

In [10]:
## Specify start, End and Frequency
dti = pd.date_range(start='2018-01-03-1230', end='2018-01-03-18:30', freq='H')
print(dti)

DatetimeIndex(['2018-01-03 12:30:00', '2018-01-03 13:30:00',
               '2018-01-03 14:30:00', '2018-01-03 15:30:00',
               '2018-01-03 16:30:00', '2018-01-03 17:30:00',
               '2018-01-03 18:30:00'],
              dtype='datetime64[ns]', freq='H')

Generate **sequence of DAYS**

In [11]:
pd.date_range(date(2018,1,2), periods=3, freq='D')

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04'], dtype='datetime64[ns]', freq='D')

In [12]:
pd.date_range('2018-01-01-1230', periods=4, freq='D')

DatetimeIndex(['2018-01-01 12:30:00', '2018-01-02 12:30:00',
               '2018-01-03 12:30:00', '2018-01-04 12:30:00'],
              dtype='datetime64[ns]', freq='D')

Generate **sequence of Start of Month**

In [13]:
pd.date_range('2018-01', periods=4, freq='MS')

DatetimeIndex(['2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01'], dtype='datetime64[ns]', freq='MS')

In [14]:
pd.date_range(datetime(2018,1,3,12,30), periods=4, freq='MS')

DatetimeIndex(['2018-02-01 12:30:00', '2018-03-01 12:30:00',
               '2018-04-01 12:30:00', '2018-05-01 12:30:00'],
              dtype='datetime64[ns]', freq='MS')

Generate **sequence of End of Month**

In [15]:
dti = pd.date_range('2018-02', periods=4, freq='M')
dti

DatetimeIndex(['2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31'], dtype='datetime64[ns]', freq='M')

## Timestamp
This is an enhanced version to datetime standard library.  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timestamp.html#pandas.Timestamp

### Constructor
#### From Number

In [16]:
print( pd.Timestamp(year=2017, month=1, day=1) ) #date-like numbers
print( pd.Timestamp(2017,1,1) )                  # date-like numbers
print( pd.Timestamp(2017,12,11,5,45))            # datetime-like numbers
print( pd.Timestamp(2017,12,11,5,45,55,999))     # + microseconds
print( pd.Timestamp(2017,12,11,5,45,55,999,8))   # + nanoseconds
print( type(pd.Timestamp(2017,12,11,5,45,55,999,8)))

2017-01-01 00:00:00
2017-01-01 00:00:00
2017-12-11 05:45:00
2017-12-11 05:45:55.000999
2017-12-11 05:45:55.000999008
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

#### From String
Observe that pandas support many string input format  
**Year Month Day**, default no timezone

In [17]:
print( pd.Timestamp('2017-12-11'))      # date-like string: year-month-day
print( pd.Timestamp('2017 12 11'))      # date-like string: year-month-day
print( pd.Timestamp('2017 Dec 11'))      # date-like string: year-month-day
print( pd.Timestamp('Dec 11, 2017'))      # date-like string: year-month-day

2017-12-11 00:00:00
2017-12-11 00:00:00
2017-12-11 00:00:00
2017-12-11 00:00:00

**YMD Hour Minute Second Ms**

In [18]:
print( pd.Timestamp('2017-12-11 0545'))     ## hour minute
print( pd.Timestamp('2017-12-11-05:45'))
print( pd.Timestamp('2017-12-11T0545'))

print( pd.Timestamp('2017-12-11 054533'))   ## hour minute seconds
print( pd.Timestamp('2017-12-11 05:45:33'))

2017-12-11 05:45:00
2017-12-11 05:45:00
2017-12-11 05:45:00
2017-12-11 05:45:33
2017-12-11 05:45:33

**Timezone**

In [19]:
print( pd.Timestamp('2017-01-01T0545Z'))     # GMT 
print( pd.Timestamp('2017-01-01T0545+9'))    # GMT+9
print( pd.Timestamp('2017-01-01T0545+0800')) # GMT+0800

2017-01-01 05:45:00+00:00
2017-01-01 05:45:00+09:00
2017-01-01 05:45:00+08:00

#### From Standard Library ```datetime``` and ```date``` Object

In [20]:
print( pd.Timestamp(date(2017,3,5)) )           # from date
print( pd.Timestamp(datetime(2017,3,5,4,30)))   # from datetime
print( pd.Timestamp(datetime(2017,3,5,4,30), tz='Asia/Kuala_Lumpur'))   # from datetime, + tz

2017-03-05 00:00:00
2017-03-05 04:30:00
2017-03-05 04:30:00+08:00

### Attributes

In [21]:
ts = pd.Timestamp('2017-01-01T054533+0800') # GMT+0800
print( ts.month )
print( ts.day   )
print( ts.year   )
print( ts.hour  )
print( ts.minute)
print( ts.second)
print( ts.microsecond)
print( ts.nanosecond)
print( ts.tz)

1
1
2017
5
45
33
0
0
pytz.FixedOffset(480)

In [22]:
ts1 = pd.Timestamp(datetime(2017,3,5,4,30), tz='Asia/Kuala_Lumpur')   # from datetime, + tz
ts2 = pd.Timestamp('2017-01-01T054533+0800') # GMT+0800
ts3 = pd.Timestamp('2017-01-01T0545')

print( ts1.tz )
print( ts2.tz )
print( ts3.tz )

Asia/Kuala_Lumpur
pytz.FixedOffset(480)
None

### Operator

### Instance Methods
#### Useful Methods

In [23]:
ts = pd.Timestamp(2017,1,1)
print( ts.weekday()  )
print( ts.isoweekday() )

6
7

#### Convert To datetime

Use ```to_pydatetime()``` to convert into standard library ```datetime.datetime```, optionally to ```datetime.date```

In [24]:
ts = pd.Timestamp(2017,1,10,7,30,52)  # to datetime.datetime
ts.to_pydatetime()

datetime.datetime(2017, 1, 10, 7, 30, 52)

In [25]:
ts = pd.Timestamp(2017,1,10,7,30,52)  # to datetime.date
ts.to_pydatetime().date()

datetime.date(2017, 1, 10)

#### Convert To ```numpy```

Use ```to_datetime64()``` to convert into ```numpy.datetime64```

In [26]:
ts = pd.Timestamp(2017,1,10,7,30,52)
ts.to_datetime64()

numpy.datetime64('2017-01-10T07:30:52.000000000')

#### Formatting with ```strftime```

Use **```strftime()```** to customize string format. For complete directive, see below:  
https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior

In [27]:
ts = pd.Timestamp(2017,1,10,7,30,52)
ts.strftime("%m/%d")

'01/10'

#### Add Timezone
Add timezone to tz-naive or tz-non-existance object. Clock will not be shifted as there is no original offset

In [28]:
ts = pd.Timestamp(2017,1,10,10,34)   ## No timezone
ts = ts.tz_localize('Asia/Kuala_Lumpur')  ## Add timezone
ts

Timestamp('2017-01-10 10:34:00+0800', tz='Asia/Kuala_Lumpur')

#### Convert Timezone
Convert timezone to tz-aware object. The clock will be shifted according to the offset

In [29]:
ts = pd.Timestamp(2017,1,10,10,34)        ## No timezone
ts = ts.tz_localize('Asia/Kuala_Lumpur')  ## Add timezone
ts = ts.tz_convert('UTC')                 ## Convert timezone
ts

Timestamp('2017-01-10 02:34:00+0000', tz='UTC')

#### Removing TImezone

In [30]:
ts = pd.Timestamp(2017,1,10,10,34)        ## No timezone
ts = ts.tz_localize('Asia/Kuala_Lumpur')  ## Add timezone
ts = ts.tz_localize(None)                 ## Convert timezone
ts

Timestamp('2017-01-10 10:34:00')

#### Formatting with ```isoformat```

Use **```isoformat()```** to format ISO string (**without timezone**)

In [31]:
ts.isoformat()

'2017-01-10T10:34:00'

#### ```ceil```

In [32]:
print( ts.ceil(freq='D') ) # ceiling to day

2017-01-11 00:00:00

#### ```replace()```

In [33]:
ts.replace(year=2000, month=1,day=1)

Timestamp('2000-01-01 10:34:00')

## Series

### Constructor

#### Empty Series
Passing empty parameter result in empty series

In [34]:
s = pd.Series()
print (s)
type(s)

Series([], dtype: float64)

pandas.core.series.Series

#### From Scalar
If data is a scalar value, an **index must be provided**. The **value will be repeated** to match the length of index

In [35]:
pd.Series( 1, index = ['a','b','c','d'])

a    1
b    1
c    1
d    1
dtype: int64

#### From array-like
**From numpy.array**  
If index is not specified, default to 0 and continue incrementally

In [36]:
pd.Series(np.array(['a','b','c','d','e']))  # from np.array

0    a
1    b
2    c
3    d
4    e
dtype: object

**From list**

In [37]:
pd.Series(['a','b','c','d','e'])           # from Python list

0    a
1    b
2    c
3    d
4    e
dtype: object

**From DateTimeIndex**

In [38]:
dti = pd.date_range('2011-1-1','2011-1-3')
dti

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03'], dtype='datetime64[ns]', freq='D')

In [39]:
pd.Series(pd.date_range('2011-1-1','2011-1-3'))

0   2011-01-01
1   2011-01-02
2   2011-01-03
dtype: datetime64[ns]

#### From Dictionary
The **dictionary key** will be the index

If **index sequence is not specified**, then the Series will be **automatically sorted** according to the key

In [40]:
pd.Series({'a' : 0., 'c' : 1., 'b' : 2.})  # from Python dict, autosort by default key

a    0.0
c    1.0
b    2.0
dtype: float64

If **index sequence** is specifeid, then Series will forllow the index order  
Objerve that **missing data** (index without value) will be marked as NaN

In [41]:
pd.Series({'a' : 0., 'c' : 1., 'b' : 2.},index = ['a','b','c','d'])  # from Python Dict, index specified, no auto sort

a    0.0
b    2.0
c    1.0
d    NaN
dtype: float64

#### Specify Index During Creation

In [42]:
pd.Series(['a','b','c','d','e'], index=[10,20,30,40,50])

10    a
20    b
30    c
40    d
50    e
dtype: object

### Accessing Series
```
series     ( single/list/range_of_row_label/number ) # can cause confusion
series.loc ( single/list/range_of_row_label )
series.iloc( single/list/range_of_row_number )
```

#### Sample Data

In [43]:
s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e']) 
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

#### by Row Number(s)

**Single Item**

In [44]:
s.iloc[1]

2

**Multiple Items**

In [45]:
s.iloc[[1,3]]

b    2
d    4
dtype: int64

**Range (First 3)**

In [46]:
s.iloc[:3]

a    1
b    2
c    3
dtype: int64

**Range (Last 3)**

In [47]:
s.iloc[-3:]

c    3
d    4
e    5
dtype: int64

**Range (in between)**

In [48]:
s.iloc[2:3]

c    3
dtype: int64

#### by Index(es)

**Single Label**

In [49]:
s.loc['c'] 
# or  ... s[['c']]

3

**Multiple Labels**

In [50]:
s.loc[['b','c']]

b    2
c    3
dtype: int64

** Range of Labels **

In [51]:
s.loc['b':'d']

b    2
c    3
d    4
dtype: int64

#### Filtering Criteria
Use logical array to filter

In [52]:
s = pd.Series(range(1,8))
s[s<5]

0    1
1    2
2    3
3    4
dtype: int64

Use **logical array** with **where**

In [53]:
s.where(s>4)

0    NaN
1    NaN
2    NaN
3    NaN
4    5.0
5    6.0
6    7.0
dtype: float64

In [54]:
s.where(s>4,None)

0    None
1    None
2    None
3    None
4       5
5       6
6       7
dtype: object

### Modifying Series
#### by Row Number(s)

In [55]:
s = pd.Series(range(1,7), index=['a','b','c','d','e','f'])
s[2] = 999
s[[3,4]] = 888,777
s

a      1
b      2
c    999
d    888
e    777
f      6
dtype: int64

#### by Index(es)

In [56]:
s = pd.Series(range(1,7), index=['a','b','c','d','e','f'])
s['e'] = 888
s[['c','d']] = 777,888
s

a      1
b      2
c    777
d    888
e    888
f      6
dtype: int64

### Series Attributes

#### ```index```

In [57]:
s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e']) 
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

#### ```dtype```

In [58]:
s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e']) 
s.dtype

dtype('int64')

#### Dimensions

In [59]:
print(s)
print( s.size  )

a    1
b    2
c    3
d    4
e    5
dtype: int64
5

In [60]:
print( s.shape )
print( s.ndim  )

(5,)
1

### Instance Methods

#### .reset_index ()
Resetting index will:  
- Convert index to a normal column  
- Index numbering became 0,1,2,3

In [61]:
s.reset_index()

  index  0
0     a  1
1     b  2
2     c  3
3     d  4
4     e  5

In [62]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

#### Structure Conversion
**Use ```to_numpy()``` to convert into ```numpy.ndarray```**

In [63]:
#npa = s.to_numpy()
#print( npa )
#print( type(npa) )

**Use ```to_list()``` to convert into standard python ```list```**

In [64]:
#ll = s.to_list()
##print( ll )
#print( type(ll) )

#### DataType Conversion
Use **```astype()```** to convert to another numpy supproted datatypes

In [65]:
ser = pd.Series([1, 2], dtype='int32')
ser

0    1
1    2
dtype: int32

In [66]:
ser.astype('int8')

0    1
1    2
dtype: int8

### Series Operators

The result of applying operator (arithmetic or logic) to Series object **returns a new Series object**

#### Arithmetic Operator

In [67]:
s1 = pd.Series( [100,200,300,400,500] )
s2 = pd.Series( [10, 20, 30, 40, 50] )

**Apply To One Series Object**

In [68]:
100 - s2

0    90
1    80
2    70
3    60
4    50
dtype: int64

**Apply To Two Series Objects**

In [69]:
s1 - s2

0     90
1    180
2    270
3    360
4    450
dtype: int64

#### Logic Operator
- Apply logic operator to a Series return a **new Series** of boolean result  
- This can be used for **Series or DataFrame filtering**

In [70]:
bs = pd.Series(range(0,10))
bs

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [71]:
print (bs>3)
print (type (bs>3))

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool
<class 'pandas.core.series.Series'>

In [72]:
~((bs>3) & (bs<8))

0     True
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8     True
9     True
dtype: bool

### Series String Accesor ```.str```

If the underlying data is **str** type, then pandas exposed various properties and methos through **```str``` accessor**. 

- This chapter focus on various functions that can be applied to entire Series data  
```
SeriesObj.str.operatorFunction()
```

**Pandas ```str``` Method**

Nearly all Python's built-in string methods are mirrored by a Pandas vectorized string method. Here is a list of Pandas str methods that mirror Python string methods:  

len()	lower()	translate()	islower()
ljust()	upper()	startswith()	isupper()
rjust()	find()	endswith()	isnumeric()
center()	rfind()	isalnum()	isdecimal()
zfill()	index()	isalpha()	split()
strip()	rindex()	isdigit()	rsplit()
rstrip()	capitalize()	isspace()	partition()
lstrip()	swapcase()	istitle()	rpartition()

#### Splitting

In [267]:
s = pd.Series(['a_b_c', 'c_d_e', np.nan, 'f_g_h_i_j'])
s

0        a_b_c
1        c_d_e
2          NaN
3    f_g_h_i_j
dtype: object

**```str.split()```**
By default, split will split the string into **array**

In [268]:
s.str.split('_')

0          [a, b, c]
1          [c, d, e]
2                NaN
3    [f, g, h, i, j]
dtype: object

After split, **select rows** to return

In [269]:
print( s.str.split('_').get(1) )
print( s.str.split('_')[1] )

['c', 'd', 'e']
['c', 'd', 'e']

**```str.split( expand=True, n= )```**

**```split```** and **```expand=True```** will return a **dataframe** instead of series

In [270]:
print( s.str.split('_', expand=True) )

     0    1    2     3     4
0    a    b    c  None  None
1    c    d    e  None  None
2  NaN  NaN  NaN   NaN   NaN
3    f    g    h     i     j

It is possible to limit the number of columns splitted

In [271]:
print( s.str.split('_', expand=True, n=1) )

     0        1
0    a      b_c
1    c      d_e
2  NaN      NaN
3    f  g_h_i_j

**```str.rsplit()```**

**```rsplit```** stands for **reverse split**, it works the same way, except it is reversed

In [272]:
print( s.str.rsplit('_', expand=True, n=1) )

         0    1
0      a_b    c
1      c_d    e
2      NaN  NaN
3  f_g_h_i    j

#### Matching

In [273]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

**```startwith```**

In [274]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [275]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

**```Slicing```**

In [276]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [277]:
monte.str[0:-1]

0    Graham Chapma
1       John Clees
2     Terry Gillia
3         Eric Idl
4       Terry Jone
5     Michael Pali
dtype: object

In [73]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

#### Case Conversion
```
SeriesObj.str.upper()
SeriesObj.str.lower()
```

In [74]:
s.str.upper()

0       A
1       B
2       C
3    AABA
4    BACA
5     NaN
6    CABA
7     DOG
8     CAT
dtype: object

#### Number of Characters

In [75]:
s.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
6    4.0
7    3.0
8    3.0
dtype: float64

In [264]:
names = pd.Series(data)
names.str.capitalize()

0    Peter
1     Paul
2     Yong
3     Mary
4    Guido
dtype: object

#### String Indexing

In [76]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan,'CABA', 'dog', 'cat'])
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [77]:
s.str[1]  # return char-1 (second char) of every item

0    NaN
1    NaN
2    NaN
3      a
4      a
5    NaN
6      A
7      o
8      a
dtype: object

#### Splitting

**Sample Data**

In [78]:
s = pd.Series(['a_b_c', 'c_d_e', np.nan, 'f_g_h'])

**Splitting base on a a delimieter**
Result is a SeriesObj with list of splitted characters

In [79]:
sp = s.str.split('_')
sp

0    [a, b, c]
1    [c, d, e]
2          NaN
3    [f, g, h]
dtype: object

**Retrieving Split Result**  
Use **.str.get()** to retrieve splitted elments

In [80]:
sp.str.get(-1)

0      c
1      e
2    NaN
3      h
dtype: object

Alternatively, use **str[ ]** for the same result

In [81]:
sp.str[-1]

0      c
1      e
2    NaN
3      h
dtype: object

#### Split and Expand Into DataFrame

In [82]:
s.str.split('_',expand=True, n=5)  # limit expansion into n columns

     0    1    2
0    a    b    c
1    c    d    e
2  NaN  NaN  NaN
3    f    g    h

#### Series Substring Extraction

**Sample Data**

In [83]:
s = pd.Series(['a1', 'b2', 'c3'])
s

0    a1
1    b2
2    c3
dtype: object

**Extract absed on regex matching**  
... to improve ...

In [84]:
type(s.str.extract('([ab])(\d)', expand=False))

pandas.core.frame.DataFrame

### Series DateTime Accessor ```.dt```

If the underlying data is **datetime64** type, then pandas exposed various properties and methos through **```dt``` accessor**.

#### Sample Data

In [85]:
s = pd.Series([
    datetime(2000,1,1,0,0,0),
    datetime(1999,12,15,12,34,55),
    datetime(2020,3,8,5,7,12),
    datetime(2018,1,1,0,0,0),
    datetime(2003,3,4,5,6,7)
])
s

0   2000-01-01 00:00:00
1   1999-12-15 12:34:55
2   2020-03-08 05:07:12
3   2018-01-01 00:00:00
4   2003-03-04 05:06:07
dtype: datetime64[ns]

#### Convert To 
**datetime.datetime**  
Use **```to_pydatetime()```** to convert into **```numpy.array```** of standard library **```datetime.datetime```**

In [86]:
pdt  = s.dt.to_pydatetime()
print( type(pdt) )
pdt

<class 'numpy.ndarray'>

array([datetime.datetime(2000, 1, 1, 0, 0),
       datetime.datetime(1999, 12, 15, 12, 34, 55),
       datetime.datetime(2020, 3, 8, 5, 7, 12),
       datetime.datetime(2018, 1, 1, 0, 0),
       datetime.datetime(2003, 3, 4, 5, 6, 7)], dtype=object)

**datetime.date**  
Use **```dt.date```** to convert into **```pandas.Series```** of standard library **```datetime.date```**   
Is it possible to have a pandas.Series of datetime.datetime ? No, because Pandas want it as its own Timestamp.

In [87]:
sdt = s.dt.date
print( type(sdt[1] ))
print( type(sdt))
sdt

<class 'datetime.date'>
<class 'pandas.core.series.Series'>

0    2000-01-01
1    1999-12-15
2    2020-03-08
3    2018-01-01
4    2003-03-04
dtype: object

#### Timestamp Attributes
A Series::DateTime object support below properties:  
- date  
- month  
- day  
- year  
- dayofweek  
- dayofyear  
- weekday  
- weekday_name  
- quarter  
- daysinmonth  
- hour
- minute

Full list below:  
https://pandas.pydata.org/pandas-docs/stable/reference/series.html#datetimelike-properties

In [88]:
s.dt.date

0    2000-01-01
1    1999-12-15
2    2020-03-08
3    2018-01-01
4    2003-03-04
dtype: object

In [89]:
s.dt.month

0     1
1    12
2     3
3     1
4     3
dtype: int64

In [90]:
s.dt.dayofweek

0    5
1    2
2    6
3    0
4    1
dtype: int64

In [91]:
s.dt.weekday

0    5
1    2
2    6
3    0
4    1
dtype: int64

In [92]:
s.dt.weekday_name

0     Saturday
1    Wednesday
2       Sunday
3       Monday
4      Tuesday
dtype: object

In [93]:
s.dt.quarter

0    1
1    4
2    1
3    1
4    1
dtype: int64

In [94]:
s.dt.daysinmonth

0    31
1    31
2    31
3    31
4    31
dtype: int64

In [95]:
s.dt.time   # extract time as time Object

0    00:00:00
1    12:34:55
2    05:07:12
3    00:00:00
4    05:06:07
dtype: object

In [96]:
s.dt.hour  # extract hour as integer

0     0
1    12
2     5
3     0
4     5
dtype: int64

In [97]:
s.dt.minute # extract minute as integer

0     0
1    34
2     7
3     0
4     6
dtype: int64

## DataFrame

### Constructor

#### From Row Oriented Data (List of Lists)
Create from **List of Lists**
```
DataFrame( [row_list1, row_list2, row_list3] )
DataFrame( [row_list1, row_list2, row_list3], column=columnName_list )
DataFrame( [row_list1, row_list2, row_list3], index=row_label_list )
```

**Basic DataFrame with default Row Label and Column Header**

In [98]:
pd.DataFrame ([[101,'Alice',40000,2017],
               [102,'Bob',  24000, 2017], 
               [103,'Charles',31000,2017]] )

     0        1      2     3
0  101    Alice  40000  2017
1  102      Bob  24000  2017
2  103  Charles  31000  2017

**Specify Column Header during Creation**

In [99]:
pd.DataFrame ([[101,'Alice',40000,2017],
               [102,'Bob',  24000, 2017], 
               [103,'Charles',31000,2017]], columns = ['empID','name','salary','year'])

   empID     name  salary  year
0    101    Alice   40000  2017
1    102      Bob   24000  2017
2    103  Charles   31000  2017

**Specify Row Label during Creation**

In [100]:
pd.DataFrame ([[101,'Alice',40000,2017],
               [102,'Bob',  24000, 2017], 
               [103,'Charles',31000,2017]], index   = ['r1','r2','r3'] )

      0        1      2     3
r1  101    Alice  40000  2017
r2  102      Bob  24000  2017
r3  103  Charles  31000  2017

#### From Row Oriented Data (List of Dictionary)
```
DataFrame( [dict1, dict2, dict3] )
DataFrame( [row_list1, row_list2, row_list3], column=np.arrange )
DataFrame( [row_list1, row_list2, row_list3], index=row_label_list )

by default,keys will become collumn names, and autosorted
```

**Default Column Name Follow Dictionary Key**  
Note missing info as NaN

In [101]:
pd.DataFrame ([{"name":"Yong", "id":1,"zkey":101},{"name":"Gan","id":2}])

   id  name   zkey
0   1  Yong  101.0
1   2   Gan    NaN

**Specify Index**

In [102]:
pd.DataFrame ([{"name":"Yong", "id":'wd1'},{"name":"Gan","id":'wd2'}], 
             index = (1,2))

    id  name
1  wd1  Yong
2  wd2   Gan

**Specify Column Header during Creation**, can acts as column filter and manual arrangement  
Note missing info as NaN

In [103]:
pd.DataFrame ([{"name":"Yong", "id":1, "zkey":101},{"name":"Gan","id":2}], 
              columns=("name","id","zkey"))

   name  id   zkey
0  Yong   1  101.0
1   Gan   2    NaN

#### From Column Oriented Data
Create from **Dictrionary of List**
```
DataFrame(  { 'column1': list1,
              'column2': list2,
              'column3': list3 } , 
              index    = row_label_list, 
              columns  = column_list)
              
```
By default, DataFrame will **arrange the columns alphabetically**, unless **columns** is specified

**Default Row Label**

In [104]:
data = {'empID':  [100,      101,    102,      103,     104],
        'year':   [2017,     2017,   2017,      2018,    2018],
        'salary': [40000,    24000,  31000,     20000,   30000],
        'name':   ['Alice', 'Bob',  'Charles', 'David', 'Eric']}
pd.DataFrame(data)

   empID  year  salary     name
0    100  2017   40000    Alice
1    101  2017   24000      Bob
2    102  2017   31000  Charles
3    103  2018   20000    David
4    104  2018   30000     Eric

**Specify Row Label during Creation**

In [105]:
data = {'empID':  [100,      101,    102,      103,     104],
        'name':   ['Alice', 'Bob',  'Charles', 'David', 'Eric'],
        'year':   [2017,     2017,   2017,      2018,    2018],
        'salary': [40000,    24000,  31000,     20000,   30000] }
pd.DataFrame (data, index=['r1','r2','r3','r4','r5'])

    empID     name  year  salary
r1    100    Alice  2017   40000
r2    101      Bob  2017   24000
r3    102  Charles  2017   31000
r4    103    David  2018   20000
r5    104     Eric  2018   30000

**Manualy Choose Columns and Arrangement**

In [106]:
data = {'empID':  [100,      101,    102,      103,     104],
        'name':   ['Alice', 'Bob',  'Charles', 'David', 'Eric'],
        'year':   [2017,     2017,   2017,      2018,    2018],
        'salary': [40000,    24000,  31000,     20000,   30000] }
pd.DataFrame (data, columns=('empID','name','salary'), index=['r1','r2','r3','r4','r5'])

    empID     name  salary
r1    100    Alice   40000
r2    101      Bob   24000
r3    102  Charles   31000
r4    103    David   20000
r5    104     Eric   30000

### Attributes

In [107]:
df = pd.DataFrame(
    { 'empID':  [100,      101,    102,      103,     104],
      'year1':   [2017,     2017,   2017,      2018,    2018],
      'name':   ['Alice',  'Bob',  'Charles','David', 'Eric'],
      'year2':   [2001,     1907,   2003,      1998,    2011],
      'salary': [40000,    24000,  31000,     20000,   30000]},
    columns = ['year1','salary','year2','empID','name'])

#### Dimensions

In [108]:
df.shape

(5, 5)

#### Index

In [109]:
df.index

RangeIndex(start=0, stop=5, step=1)

**Underlying Index values are numpy object**

In [110]:
df.index.values

array([0, 1, 2, 3, 4], dtype=int64)

#### Columns

In [111]:
df.columns

Index(['year1', 'salary', 'year2', 'empID', 'name'], dtype='object')

**Underlying Index values are numpy object**

In [112]:
df.columns.values

array(['year1', 'salary', 'year2', 'empID', 'name'], dtype=object)

#### Values

**Underlying Column values are numpy object**

In [113]:
df.values

array([[2017, 40000, 2001, 100, 'Alice'],
       [2017, 24000, 1907, 101, 'Bob'],
       [2017, 31000, 2003, 102, 'Charles'],
       [2018, 20000, 1998, 103, 'David'],
       [2018, 30000, 2011, 104, 'Eric']], dtype=object)

### Index Manipulation
**index** and **row label** are used interchangeably in this book

#### Sample Data
Columns are intentionaly ordered in a messy way

In [114]:
df = pd.DataFrame(
    { 'empID':  [100,      101,    102,      103,     104],
      'year1':   [2017,     2017,   2017,      2018,    2018],
      'name':   ['Alice',  'Bob',  'Charles','David', 'Eric'],
      'year2':   [2001,     1907,   2003,      1998,    2011],
      'salary': [40000,    24000,  31000,     20000,   30000]},
    columns = ['year1','salary','year2','empID','name'])

print (df, '\n')
print (df.index)

   year1  salary  year2  empID     name
0   2017   40000   2001    100    Alice
1   2017   24000   1907    101      Bob
2   2017   31000   2003    102  Charles
3   2018   20000   1998    103    David
4   2018   30000   2011    104     Eric

RangeIndex(start=0, stop=5, step=1)

#### Convert Column To Index
```
set_index('column_name', inplace=False)
```
**inplace=True** means don't create a new dataframe. Modify existing dataframe    
**inplace=False** means return a new dataframe

In [115]:
print(df)
print(df.index,'\n')

df.set_index('empID',inplace=True) 
print(df)
print(df.index) # return new DataFrameObj

   year1  salary  year2  empID     name
0   2017   40000   2001    100    Alice
1   2017   24000   1907    101      Bob
2   2017   31000   2003    102  Charles
3   2018   20000   1998    103    David
4   2018   30000   2011    104     Eric
RangeIndex(start=0, stop=5, step=1)

       year1  salary  year2     name
empID
100     2017   40000   2001    Alice
101     2017   24000   1907      Bob
102     2017   31000   2003  Charles
103     2018   20000   1998    David
104     2018   30000   2011     Eric
Int64Index([100, 101, 102, 103, 104], dtype='int64', name='empID')

#### Convert Index Back To Column
- Reseting index will resequence the index as 0,1,2 etc  
- Old index column will be converted back as normal column  
- Operation support inplace** option

In [116]:
df.reset_index(inplace=True)
print(df)

   empID  year1  salary  year2     name
0    100   2017   40000   2001    Alice
1    101   2017   24000   1907      Bob
2    102   2017   31000   2003  Charles
3    103   2018   20000   1998    David
4    104   2018   30000   2011     Eric

#### Updating Index ( .index= )
**Warning:**  
- Updating index doesn't reorder the data sequence  
- Number of elements before and after reorder must match, otherwise **error**  
- Same label are **allowed to repeat**
- Not reversable

In [117]:
df.index = [101, 101, 101, 102, 103]
print( df )

     empID  year1  salary  year2     name
101    100   2017   40000   2001    Alice
101    101   2017   24000   1907      Bob
101    102   2017   31000   2003  Charles
102    103   2018   20000   1998    David
103    104   2018   30000   2011     Eric

#### Reordering Index (. reindex )
- Reindex will reorder the rows according to new index  
- The operation is not reversable

**Start from this original dataframe**

**Change the order of Index**, always return a new dataframe

In [118]:
df.index = [101,102,103,104,105]
print( df )                                ## original sequence
print( df.reindex([103,102,101,104,105]) ) ## new sequence, new dataframe

     empID  year1  salary  year2     name
101    100   2017   40000   2001    Alice
102    101   2017   24000   1907      Bob
103    102   2017   31000   2003  Charles
104    103   2018   20000   1998    David
105    104   2018   30000   2011     Eric
     empID  year1  salary  year2     name
103    102   2017   31000   2003  Charles
102    101   2017   24000   1907      Bob
101    100   2017   40000   2001    Alice
104    103   2018   20000   1998    David
105    104   2018   30000   2011     Eric

### Subsetting Columns
**Select Single Column** Return **Series**
```
dataframe.columnName               # single column, name based, return Series object
dataframe[ single_col_name ]       # single column, name based, return Series object
dataframe[ [single_col_name] ]     # single column, name based, return DataFrame object
```
**Select Single/Multiple Columns** Return **DataFrame**
```
dataframe[ single/list_of_col_names ]                       # name based, return Dataframe object
dataframe.loc[ : , single_col_name  ]  # single column, series
dataframe.loc[ : , col_name_list    ]  # multiple columns, dataframe
dataframe.loc[ : , col_name_ranage  ]  # multiple columns, dataframe

dataframe.iloc[ : , col_number      ]  # single column, series
dataframe.iloc[ : , col_number_list ]  # multiple columns, dataframe
dataframe.iloc[ : , number_range    ]  # multiple columns, dataframe
```

#### Select Single Column
Selecting single column always return as ```panda::Series```

In [119]:
df.name

101      Alice
102        Bob
103    Charles
104      David
105       Eric
Name: name, dtype: object

In [120]:
df['name']

101      Alice
102        Bob
103    Charles
104      David
105       Eric
Name: name, dtype: object

In [121]:
df.loc[:, 'name']

101      Alice
102        Bob
103    Charles
104      David
105       Eric
Name: name, dtype: object

In [122]:
df.iloc[:, 3]

101    2001
102    1907
103    2003
104    1998
105    2011
Name: year2, dtype: int64

#### Select Multiple Columns
Multiple columns return as **panda::Dataframe** object`

In [123]:
df[['name']]  # return one column dataframe

        name
101    Alice
102      Bob
103  Charles
104    David
105     Eric

In [124]:
print(df.columns)
df[['name','year1']]

Index(['empID', 'year1', 'salary', 'year2', 'name'], dtype='object')

        name  year1
101    Alice   2017
102      Bob   2017
103  Charles   2017
104    David   2018
105     Eric   2018

In [125]:
df.loc[:,['name','year1']]

        name  year1
101    Alice   2017
102      Bob   2017
103  Charles   2017
104    David   2018
105     Eric   2018

In [126]:
df.loc[:,'year1':'year2']  # range of columns

     year1  salary  year2
101   2017   40000   2001
102   2017   24000   1907
103   2017   31000   2003
104   2018   20000   1998
105   2018   30000   2011

In [127]:
df.iloc[:,[0,3]]

     empID  year2
101    100   2001
102    101   1907
103    102   2003
104    103   1998
105    104   2011

In [128]:
df.iloc[:,0:3]

     empID  year1  salary
101    100   2017   40000
102    101   2017   24000
103    102   2017   31000
104    103   2018   20000
105    104   2018   30000

#### Selection by Data Type

```
df.select_dtypes(include=None, exclude=None)
```
Always return **panda::DataFrame**, even though only single column matches.  
Allowed types are:
- number (integer and float)  
- integer / float 
- datetime  
- timedelta  
- category

In [129]:
df.get_dtype_counts()

int64     4
object    1
dtype: int64

In [130]:
df.select_dtypes(exclude='number')

        name
101    Alice
102      Bob
103  Charles
104    David
105     Eric

In [131]:
df.select_dtypes(exclude=('number','object'))

Empty DataFrame
Columns: []
Index: [101, 102, 103, 104, 105]

#### Subset by ```filter()```
```.filter(items=None, like=None, regex=None, axis=1)```

**like = Substring Matches**

In [132]:
df.filter( like='year',  axis='columns')  ## or axis = 1

     year1  year2
101   2017   2001
102   2017   1907
103   2017   2003
104   2018   1998
105   2018   2011

**items = list of column names**

In [133]:
df.filter( items=('year1','year2'),  axis=1)  ## or axis = 1

     year1  year2
101   2017   2001
102   2017   1907
103   2017   2003
104   2018   1998
105   2018   2011

**regex = Regular Expression**  
Select column names that contain integer

In [134]:
df.filter(regex='\d')  ## default axis=1 if DataFrame

     year1  year2
101   2017   2001
102   2017   1907
103   2017   2003
104   2018   1998
105   2018   2011

### Column Manipulation

#### Sample Data

In [135]:
df

     empID  year1  salary  year2     name
101    100   2017   40000   2001    Alice
102    101   2017   24000   1907      Bob
103    102   2017   31000   2003  Charles
104    103   2018   20000   1998    David
105    104   2018   30000   2011     Eric

#### Renaming Columns

**Method 1 : Rename All Columns (.columns =)**  
- Construct the new column names, **check if there is no missing** column names   
- **Missing columns** will return **error**  
- Direct Assignment to column property result in change to dataframe

In [136]:
new_columns = ['year.1','salary','year.2','empID','name']
df.columns = new_columns
df.head(2)

     year.1  salary  year.2  empID   name
101     100    2017   40000   2001  Alice
102     101    2017   24000   1907    Bob

**Method 2 : Renaming Specific Column (.rename (columns=) )** 
- Change column name through **rename** function  
- Support **inpalce** option for original dataframe change  
- Missing column is OK

In [137]:
df.rename( columns={'year.1':'year1', 'year.2':'year2'}, inplace=True)
df.head(2)

     year1  salary  year2  empID   name
101    100    2017  40000   2001  Alice
102    101    2017  24000   1907    Bob

#### Reordering Columns
Always return a new dataframe.  There is **no inplace option** for reordering columns  

**Method 1 - reindex(columns = )**  
- **reindex** may sounds like operation on row labels, but it works  
- **Missmatch** column names will result in **NA** for the unfound column

In [138]:
new_colorder = [ 'empID', 'name', 'salary', 'year1', 'year2']
df.reindex(columns = new_colorder).head(2)

     empID   name  salary  year1  year2
101   2001  Alice    2017    100  40000
102   1907    Bob    2017    101  24000

**Method 2 - [ ] notation**  
- **Missmatch** column will result in **ERROR**

In [139]:
new_colorder = [ 'empID', 'name', 'salary', 'year1', 'year2']
df[new_colorder]

     empID     name  salary  year1  year2
101   2001    Alice    2017    100  40000
102   1907      Bob    2017    101  24000
103   2003  Charles    2017    102  31000
104   1998    David    2018    103  20000
105   2011     Eric    2018    104  30000

#### Duplicating or Replacing Column
- **New Column** will be created instantly using **[] notation**  
- **DO NOT USE dot Notation** because it is view only attribute

In [140]:
df['year3'] = df.year1
df

     year1  salary  year2  empID     name  year3
101    100    2017  40000   2001    Alice    100
102    101    2017  24000   1907      Bob    101
103    102    2017  31000   2003  Charles    102
104    103    2018  20000   1998    David    103
105    104    2018  30000   2011     Eric    104

#### Dropping Columns (.drop)
```
dataframe.drop( columns='column_name',    inplace=True/False)   # delete single column
dataframe.drop( columns=list_of_colnames, inplace=True/False)   # delete multiple column

dataframe.drop( index='row_label',         inplace=True/False)   # delete single row
dataframe.drop( index= list_of_row_labels, inplace=True/False)   # delete multiple rows

```
**inplace=True** means column will be deleted from original dataframe. **Default is False**, which return a copy of dataframe

**By Column Name(s)**

In [141]:
df.drop( columns='year1') # drop single column

     salary  year2  empID     name  year3
101    2017  40000   2001    Alice    100
102    2017  24000   1907      Bob    101
103    2017  31000   2003  Charles    102
104    2018  20000   1998    David    103
105    2018  30000   2011     Eric    104

In [142]:
df.drop(columns=['year2','year3'])  # drop multiple columns

     year1  salary  empID     name
101    100    2017   2001    Alice
102    101    2017   1907      Bob
103    102    2017   2003  Charles
104    103    2018   1998    David
105    104    2018   2011     Eric

**By Column Number(s)**   
Use dataframe.columns to produce interim list of column names

In [143]:
df.drop( columns=df.columns[[3,4,5]] )   # delete columns by list of column number

     year1  salary  year2
101    100    2017  40000
102    101    2017  24000
103    102    2017  31000
104    103    2018  20000
105    104    2018  30000

In [144]:
df.drop( columns=df.columns[3:6] )       # delete columns by range of column number

     year1  salary  year2
101    100    2017  40000
102    101    2017  24000
103    102    2017  31000
104    103    2018  20000
105    104    2018  30000

### Subsetting Rows
```
dataframe.loc[ row_label       ]  # return series, single row
dataframe.loc[ row_label_list  ]  # multiple rows
dataframe.loc[ boolean_list    ]  # multiple rows

dataframe.iloc[ row_number       ]  # return series, single row
dataframe.iloc[ row_number_list  ]  # multiple rows
dataframe.iloc[ number_range     ]  # multiple rows

dataframe.sample(frac=)                                        # frac = 0.6 means sampling 60% of rows randomly
```

#### Sample Data

In [287]:
df = pd.DataFrame(
    { 'empID':  [100,      101,    102,      103,     104],
      'year1':   [2017,     2017,   2017,      2018,    2018],
      'name':   ['Alice',  'Bob',  'Charles','David', 'Eric'],
      'year2':   [2001,     1907,   2003,      1998,    2011],
      'salary': [40000,    24000,  31000,     20000,   30000]},
    columns = ['year1','salary','year2','empID','name']).set_index(['empID'])
df

       year1  salary  year2     name
empID
100     2017   40000   2001    Alice
101     2017   24000   1907      Bob
102     2017   31000   2003  Charles
103     2018   20000   1998    David
104     2018   30000   2011     Eric

#### By Index or Boolean

**Single Index** return Series

In [146]:
df.loc[101]         # by single row label, return series

year1      2017
salary    24000
year2      1907
name        Bob
Name: 101, dtype: object

**List or Range of Indexes** returns DataFrame

In [147]:
df.loc[ [100,103] ]  # by multiple row labels

       year1  salary  year2   name
empID
100     2017   40000   2001  Alice
103     2018   20000   1998  David

In [148]:
df.loc[  100:103  ]  # by range of row labels

       year1  salary  year2     name
empID
100     2017   40000   2001    Alice
101     2017   24000   1907      Bob
102     2017   31000   2003  Charles
103     2018   20000   1998    David

**List of Boolean** returns DataFrame

In [335]:
criteria = (df.salary > 30000) & (df.year1==2017)
print (criteria)
print (df.loc[criteria])

empID
100     True
101    False
102     True
103    False
104    False
dtype: bool
       year1  salary  year2     name
empID
100     2017   40000   2001    Alice
102     2017   31000   2003  Charles

#### By Row Number
**Single Row** return Series

In [149]:
df.iloc[1]  # by single row number

year1      2017
salary    24000
year2      1907
name        Bob
Name: 101, dtype: object

Multiple rows **returned as dataframe** object

In [150]:
df.iloc[ [0,3] ]    # by row numbers

       year1  salary  year2   name
empID
100     2017   40000   2001  Alice
103     2018   20000   1998  David

In [151]:
df.iloc[  0:3  ]    # by row number range

       year1  salary  year2     name
empID
100     2017   40000   2001    Alice
101     2017   24000   1907      Bob
102     2017   31000   2003  Charles

#### ```query()```
```.query(expr, inplace=False)```

In [153]:
df.query('salary<=31000 and year1 == 2017')

       year1  salary  year2     name
empID
101     2017   24000   1907      Bob
102     2017   31000   2003  Charles

#### ```sample()```

In [154]:
np.random.seed(15)
df.sample(frac=0.6) #randomly pick 60% of rows, without replacement

       year1  salary  year2     name
empID
102     2017   31000   2003  Charles
103     2018   20000   1998    David
104     2018   30000   2011     Eric

### Row Manipulation

#### Sample Data

#### Dropping Rows (.drop)
```.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')```

**By Row Label(s)**

In [155]:
df.drop(index=100)       # single row

       year1  salary  year2     name
empID
101     2017   24000   1907      Bob
102     2017   31000   2003  Charles
103     2018   20000   1998    David
104     2018   30000   2011     Eric

In [156]:
df.drop(index=[100,103])   # multiple rows

       year1  salary  year2     name
empID
101     2017   24000   1907      Bob
102     2017   31000   2003  Charles
104     2018   30000   2011     Eric

### Slicing

#### Sample Data

In [336]:
df

       year1  salary  year2     name
empID
100     2017   40000   2001    Alice
101     1999   24000   1907      Bob
102     2017   31000   2003  Charles
103     2018   20000   1998    David
104     2018   30000   2011     Eric

#### Getting One Cell  
**By Row Label and Column Name (loc)**

```
dataframe.loc [ row_label , col_name   ]    # by row label and column names
dataframe.loc [ bool_list , col_name   ]    # by row label and column names
dataframe.iloc[ row_number, col_number ]    # by row and column number
```

In [338]:
print (df.loc[100,'year1'])

2017

**By Row Number and Column Number (iloc)**

In [318]:
print (df.iloc[1,2])

1907

#### Getting Multiple Cells
Specify rows and columns (by individual or range)

```
dataframe.loc [ list/range_of_row_labels , list/range_col_names   ]    # by row label and column names
dataframe.iloc[ list/range_row_numbers,    list/range_col_numbers ]    # by row number
```

**By Index and Column Name (loc)**

In [327]:
print (df.loc[ [101,103], ['name','year1'] ], '\n')  # by list of row label and column names
print (df.loc[  101:104 ,  'year1':'year2'  ], '\n')  # by range of row label and column names

        name  year1
empID
101      Bob   1999
103    David   2018

       year1  salary  year2
empID
101     1999   24000   1907
102     2017   31000   2003
103     2018   20000   1998
104     2018   30000   2011

**By Boolean Row and Column Names (loc)**

In [345]:
df.loc[df.year1==2017, 'year1':'year2']

       year1  salary  year2
empID
100     2017   40000   2001
102     2017   31000   2003

**By Row and Column Number (iloc)**

In [344]:
print (df.iloc[ [1,4], [0,3]],'\n' )   # by individual rows/columns
print (df.iloc[  1:4 ,  0:3], '\n')    # by range

       year1  name
empID
101     1999   Bob
104     2018  Eric

       year1  salary  year2
empID
101     1999   24000   1907
102     2017   31000   2003
103     2018   20000   1998

### Chained Indexing

**Chained Index** Method creates a copy of dataframe, any modification of data on original dataframe does not affect the copy  
```
dataframe.loc  [...]  [...]
dataframe.iloc [...]  [...]
```
Suggesting, **never use** chain indexing

In [382]:
df = pd.DataFrame(
    { 'empID':  [100,      101,    102,      103,     104],
      'year1':   [2017,     2017,   2017,      2018,    2018],
      'name':   ['Alice',  'Bob',  'Charles','David', 'Eric'],
      'year2':   [2001,     1907,   2003,      1998,    2011],
      'salary': [40000,    24000,  31000,     20000,   30000]},
    columns = ['year1','salary','year2','empID','name']).set_index(['empID'])
df

       year1  salary  year2     name
empID
100     2017   40000   2001    Alice
101     2017   24000   1907      Bob
102     2017   31000   2003  Charles
103     2018   20000   1998    David
104     2018   30000   2011     Eric

In [384]:
df.loc[100]['year'] =2000
df  ## notice row label 100 had not been updated, because data was updated on a copy due to chain indexing

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

       year1  salary  year2     name
empID
100     2017   40000   2001    Alice
101     2017   24000   1907      Bob
102     2017   31000   2003  Charles
103     2018   20000   1998    David
104     2018   30000   2011     Eric

### Data Structure

#### Instance Methods - Structure
Find out the column names, data type in a summary. Output is for display only, not a data object

In [165]:
df.info()  # return text output

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 100 to 104
Data columns (total 4 columns):
year1     5 non-null int64
salary    5 non-null int64
year2     5 non-null int64
name      5 non-null object
dtypes: int64(3), object(1)
memory usage: 360.0+ bytes

In [166]:
df.get_dtype_counts() # return Series

int64     3
object    1
dtype: int64

#### Conversion To Other Format

In [390]:
df.to_json()

'{"year1":{"100":2017,"101":1999,"102":2017,"103":2018,"104":2018},"salary":{"100":40000,"101":24000,"102":31000,"103":20000,"104":30000},"year2":{"100":2001,"101":1907,"102":2003,"103":1998,"104":2011},"name":{"100":"Alice","101":"Bob","102":"Charles","103":"David","104":"Eric"}}'

In [391]:
df.to_records()

rec.array([(100, 2017, 40000, 2001, 'Alice'),
           (101, 1999, 24000, 1907, 'Bob'),
           (102, 2017, 31000, 2003, 'Charles'),
           (103, 2018, 20000, 1998, 'David'),
           (104, 2018, 30000, 2011, 'Eric')],
          dtype=[('empID', '<i8'), ('year1', '<i8'), ('salary', '<i8'), ('year2', '<i8'), ('name', 'O')])

In [394]:
df.to_csv()

'empID,year1,salary,year2,name\n100,2017,40000,2001,Alice\n101,1999,24000,1907,Bob\n102,2017,31000,2003,Charles\n103,2018,20000,1998,David\n104,2018,30000,2011,Eric\n'

### Exploratory Analysis

#### Sample Data

In [167]:
df

       year1  salary  year2     name
empID
100     2017   40000   2001    Alice
101     2017   24000   1907      Bob
102     2017   31000   2003  Charles
103     2018   20000   1998    David
104     2018   30000   2011     Eric

#### All Stats in One  - .describe()

```
df.describe(include='number') # default
df.describe(include='object') # display for non-numeric columns
df.describe(include='all')    # display both numeric and non-numeric
```

When applied to DataFrame object, describe shows all **basic statistic** for **all numeric** columns:
- Count (non-NA)  
- Unique (for string)  
- Top (for string)   
- Frequency (for string)  
- Percentile  
- Mean  
- Min / Max  
- Standard Deviation

**For Numeric Columns only**  
You can **customize the percentiles requred**. Notice 0.5 percentile is always there although not specified

In [168]:
df.describe()

             year1        salary        year2
count     5.000000      5.000000     5.000000
mean   2017.400000  29000.000000  1984.000000
std       0.547723   7615.773106    43.312816
min    2017.000000  20000.000000  1907.000000
25%    2017.000000  24000.000000  1998.000000
50%    2017.000000  30000.000000  2001.000000
75%    2018.000000  31000.000000  2003.000000
max    2018.000000  40000.000000  2011.000000

In [169]:
df.describe(percentiles=[0.9,0.3,0.2,0.1])

             year1        salary        year2
count     5.000000      5.000000     5.000000
mean   2017.400000  29000.000000  1984.000000
std       0.547723   7615.773106    43.312816
min    2017.000000  20000.000000  1907.000000
10%    2017.000000  21600.000000  1943.400000
20%    2017.000000  23200.000000  1979.800000
30%    2017.000000  25200.000000  1998.600000
50%    2017.000000  30000.000000  2001.000000
90%    2018.000000  36400.000000  2007.800000
max    2018.000000  40000.000000  2011.000000

**For both Numeric and Object**

In [170]:
df.describe(include='all')

         year1   salary   year2 name
count      5.0      5.0     5.0    5
unique     NaN      NaN     NaN    5
top        NaN      NaN     NaN  Bob
freq       NaN      NaN     NaN    1
mean    2017.4  29000.0  1984.0  NaN
...        ...      ...     ...  ...
min     2017.0  20000.0  1907.0  NaN
25%     2017.0  24000.0  1998.0  NaN
50%     2017.0  30000.0  2001.0  NaN
75%     2018.0  31000.0  2003.0  NaN
max     2018.0  40000.0  2011.0  NaN

[11 rows x 4 columns]

#### min/max/mean/median

In [171]:
df.min()  # default axis=0, column-wise

year1      2017
salary    20000
year2      1907
name      Alice
dtype: object

In [172]:
df.min(axis=1) # axis=1, row-wise

empID
100    2001
101    1907
102    2003
103    1998
104    2011
dtype: int64

Observe, sum on **string will concatenate column-wise**, whereas row-wise only sum up numeric fields

In [173]:
df.sum(0)

year1                        10087
salary                      145000
year2                         9920
name      AliceBobCharlesDavidEric
dtype: object

In [174]:
df.sum(1)

empID
100    44018
101    27924
102    35020
103    24016
104    34029
dtype: int64

### Plotting

## Categories

### Creating

#### From List
**Basic (Auto Category Mapping)**  
Basic syntax return categorical index with sequence with code 0,1,2,3... mapping to first found category   
In this case, **low(0), high(1), medium(2)**

In [178]:
temp = ['low','high','medium','high','high','low','medium','medium','high']
temp_cat = pd.Categorical(temp)
temp_cat

[low, high, medium, high, high, low, medium, medium, high]
Categories (3, object): [high, low, medium]

In [179]:
type( temp_cat )

pandas.core.arrays.categorical.Categorical

**Manual Category Mapping**  
During creation, we can specify mapping of codes to category: **low(0), medium(1), high(2)**

In [180]:
temp_cat = pd.Categorical(temp, categories=['low','medium','high'])
temp_cat

[low, high, medium, high, high, low, medium, medium, high]
Categories (3, object): [low, medium, high]

#### From Series
- We can 'add' categorical structure into a Series. With these methods, additional property (.cat) is added as a **categorical accessor**  
- Through this accessor, you gain access to various properties of the category such as .codes, .categories. But not .get_values() as the information is in the Series itself  
- Can we manual map category ?????

In [181]:
temp = ['low','high','medium','high','high','low','medium','medium','high']
temp_cat = pd.Series(temp, dtype='category')
print (type(temp_cat))       # Series object
print (type(temp_cat.cat))   # Categorical Accessor

<class 'pandas.core.series.Series'>
<class 'pandas.core.arrays.categorical.CategoricalAccessor'>

- Method below has the same result as above by using **.astype('category')**  
- It is useful adding category structure into existing series.

In [182]:
temp_ser = pd.Series(temp)
temp_cat = pd.Series(temp).astype('category')
print (type(temp_cat))       # Series object
print (type(temp_cat.cat))   # Categorical Accessor

<class 'pandas.core.series.Series'>
<class 'pandas.core.arrays.categorical.CategoricalAccessor'>

In [183]:
temp_cat.cat.categories

Index(['high', 'low', 'medium'], dtype='object')

#### Ordering Category

In [184]:
temp = ['low','high','medium','high','high','low','medium','medium','high']
temp_cat = pd.Categorical(temp, categories=['low','medium','high'], ordered=True)
temp_cat

[low, high, medium, high, high, low, medium, medium, high]
Categories (3, object): [low < medium < high]

In [185]:
temp_cat.get_values()

array(['low', 'high', 'medium', 'high', 'high', 'low', 'medium', 'medium',
       'high'], dtype=object)

In [186]:
temp_cat.codes

array([0, 2, 1, 2, 2, 0, 1, 1, 2], dtype=int8)

In [187]:
temp_cat[0] < temp_cat[3]

False

### Properties

#### .categories
first element's code = 0  
second element's code = 1  
third element's code = 2

In [188]:
temp_cat.categories

Index(['low', 'medium', 'high'], dtype='object')

#### .codes
Codes are actual **integer** value stored as array. 1 represent 'high',

In [189]:
temp_cat.codes

array([0, 2, 1, 2, 2, 0, 1, 1, 2], dtype=int8)

### Rename Category

#### Renamce To New Category Object
**.rename_categories()** method return a new category object with new changed categories

In [190]:
temp = ['low','high','medium','high','high','low','medium','medium','high']
new_temp_cat = temp_cat.rename_categories(['sejuk','sederhana','panas'])
new_temp_cat

[sejuk, panas, sederhana, panas, panas, sejuk, sederhana, sederhana, panas]
Categories (3, object): [sejuk < sederhana < panas]

In [191]:
temp_cat   # original category object categories not changed

[low, high, medium, high, high, low, medium, medium, high]
Categories (3, object): [low < medium < high]

#### Rename Inplace
Observe the original categories had been changed using **.rename()**

In [192]:
temp_cat.categories = ['sejuk','sederhana','panas']
temp_cat   # original category object categories is changed

[sejuk, panas, sederhana, panas, panas, sejuk, sederhana, sederhana, panas]
Categories (3, object): [sejuk < sederhana < panas]

### Adding New Category
This return a new category object with added categories

In [193]:
temp_cat_more = temp_cat.add_categories(['susah','senang'])
temp_cat_more

[sejuk, panas, sederhana, panas, panas, sejuk, sederhana, sederhana, panas]
Categories (5, object): [sejuk < sederhana < panas < susah < senang]

### Removing Category
This is **not in place**, hence return a new categorical object

#### Remove Specific Categor(ies)
Elements with its category removed will become **NaN**

In [194]:
temp = ['low','high','medium','high','high','low','medium','medium','high']
temp_cat = pd.Categorical(temp)
temp_cat_removed = temp_cat.remove_categories('low')
temp_cat_removed

[NaN, high, medium, high, high, NaN, medium, medium, high]
Categories (2, object): [high, medium]

#### Remove Unused Category
Since categories removed are not used, there is no impact to the element

In [195]:
print (temp_cat_more)
temp_cat_more.remove_unused_categories()

[sejuk, panas, sederhana, panas, panas, sejuk, sederhana, sederhana, panas]
Categories (5, object): [sejuk < sederhana < panas < susah < senang]

[sejuk, panas, sederhana, panas, panas, sejuk, sederhana, sederhana, panas]
Categories (3, object): [sejuk < sederhana < panas]

### Add and Remove Categories In One Step - Set()

In [196]:
temp = ['low','high','medium','high','high','low','medium','medium','high']
temp_cat = pd.Categorical(temp, ordered=True)
temp_cat

[low, high, medium, high, high, low, medium, medium, high]
Categories (3, object): [high < low < medium]

In [197]:
temp_cat.set_categories(['low','medium','sederhana','susah','senang'])

[low, NaN, medium, NaN, NaN, low, medium, medium, NaN]
Categories (5, object): [low < medium < sederhana < susah < senang]

### Categorical Descriptive Analysis

#### At One Glance

In [198]:
temp_cat.describe()

            counts     freqs
categories
high             4  0.444444
low              2  0.222222
medium           3  0.333333

#### Frequency Count

In [199]:
temp_cat.value_counts()

high      4
low       2
medium    3
dtype: int64

#### Least Frequent Category, Most Frequent Category, and Most Frequent Category

In [200]:
( temp_cat.min(), temp_cat.max(), temp_cat.mode() )

('high', 'medium', [high]
 Categories (3, object): [high < low < medium])

### Other Methods

#### .get_values()
Since actual value stored by categorical object are integer **codes**, get_values() function return values translated from *.codes** property

In [201]:
temp_cat.get_values()  #array

array(['low', 'high', 'medium', 'high', 'high', 'low', 'medium', 'medium',
       'high'], dtype=object)

## Dummies

- **get_dummies** creates columns for each categories 
- The underlying data can be string or pd.Categorical  
- It produces a **new pd.DataFrame**

### Sample Data

In [202]:
df = pd.DataFrame (
    {'A': ['A1', 'A2', 'A3','A1','A3','A1'], 
     'B': ['B1','B2','B3','B1','B1','B3'],
     'C': ['C1','C2','C3','C1',np.nan,np.nan]})
df

    A   B    C
0  A1  B1   C1
1  A2  B2   C2
2  A3  B3   C3
3  A1  B1   C1
4  A3  B1  NaN
5  A1  B3  NaN

### Dummies on Array-Like Data

In [203]:
pd.get_dummies(df.A)

   A1  A2  A3
0   1   0   0
1   0   1   0
2   0   0   1
3   1   0   0
4   0   0   1
5   1   0   0

### Dummies on DataFrame (multiple columns)

#### All Columns

In [204]:
pd.get_dummies(df)

   A_A1  A_A2  A_A3  B_B1  B_B2  B_B3  C_C1  C_C2  C_C3
0     1     0     0     1     0     0     1     0     0
1     0     1     0     0     1     0     0     1     0
2     0     0     1     0     0     1     0     0     1
3     1     0     0     1     0     0     1     0     0
4     0     0     1     1     0     0     0     0     0
5     1     0     0     0     0     1     0     0     0

#### Selected Columns

In [205]:
cols = ['A','B']
pd.get_dummies(df[cols])

   A_A1  A_A2  A_A3  B_B1  B_B2  B_B3
0     1     0     0     1     0     0
1     0     1     0     0     1     0
2     0     0     1     0     0     1
3     1     0     0     1     0     0
4     0     0     1     1     0     0
5     1     0     0     0     0     1

### Dummies with na
By default, nan values are ignored

In [206]:
pd.get_dummies(df.C)

   C1  C2  C3
0   1   0   0
1   0   1   0
2   0   0   1
3   1   0   0
4   0   0   0
5   0   0   0

**Make NaN as a dummy variable**

In [207]:
pd.get_dummies(df.C,dummy_na=True)

   C1  C2  C3  NaN
0   1   0   0    0
1   0   1   0    0
2   0   0   1    0
3   1   0   0    0
4   0   0   0    1
5   0   0   0    1

### Specify Prefixes

In [208]:
pd.get_dummies(df.A, prefix='col')

   col_A1  col_A2  col_A3
0       1       0       0
1       0       1       0
2       0       0       1
3       1       0       0
4       0       0       1
5       1       0       0

In [209]:
pd.get_dummies(df[cols], prefix=['colA','colB'])

   colA_A1  colA_A2  colA_A3  colB_B1  colB_B2  colB_B3
0        1        0        0        1        0        0
1        0        1        0        0        1        0
2        0        0        1        0        0        1
3        1        0        0        1        0        0
4        0        0        1        1        0        0
5        1        0        0        0        0        1

### Dropping First Column
- Dummies cause **colinearity issue** for regression as it has redundant column.  
- Dropping a column **does not loose any information** technically

In [210]:
pd.get_dummies(df[cols],drop_first=True)

   A_A2  A_A3  B_B2  B_B3
0     0     0     0     0
1     1     0     1     0
2     0     1     0     1
3     0     0     0     0
4     0     1     0     0
5     0     0     0     1

## Getting External Data

### html_table parser

- Read the web page, create a list: which contain one or more dataframes that maps to each html table found
- Auto detect column header
- Auto create index using number starting from 0
```
read_html(url)  # return list of dataframe(s) that maps to web table(s) structure
```

In [211]:
#df_list = pd.read_html('https://www.bloomberg.com/markets/currencies')
#print ('Total Table(s) Found : ', len(df_list))
#df = df_list[0]
#print (df)

### CSV Import

#### Syntax
```
pandas.read_csv( 
    'url or filePath',                     # path to file or url 
    encoding    = 'utf_8',                 # optional: default is 'utf_8'
    index_col   = ['colName1', ...],       # optional: specify one or more index column
    parse_dates = ['dateCol1', ...],       # optional: specify multiple string column to convert to date
    na_values   = ['.','na','NA','N/A'],   # optional: values that is considered NA
    names       = ['newColName1', ... ],   # optional: overwrite column names
    thousands   = '.',                     # optional: thousand seperator symbol
    nrows       = n,                       # optional: load only first n rows
    skiprows    = 0                        # optional: don't load first n rows
)
```
Refer to full codec [Python Codec](https://docs.python.org/3/library/codecs.html#standard-encodings).

#### Default Import
**By default:**  
- index is sequence of integer 0,1,2...  
- only two data type: number and string (auto detection)
- **date is not parsed**, hence stayed as string

In [212]:
goo = pd.read_csv('data/goog.csv', encoding='utf_8')

In [213]:
goo.head()

         Date        Open        High         Low       Close   Volume
0  12/19/2016  790.219971  797.659973  786.270020  794.200012  1225900
1  12/20/2016  796.760010  798.650024  793.270020  796.419983   925100
2  12/21/2016  795.840027  796.676025  787.099976  794.559998  1208700
3  12/22/2016  792.359985  793.320007  788.580017  791.260010   969100
4  12/23/2016  790.900024  792.739990  787.280029  789.909973   623400

In [214]:
goo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
Date      61 non-null object
Open      61 non-null float64
High      61 non-null float64
Low       61 non-null float64
Close     61 non-null float64
Volume    61 non-null int64
dtypes: float64(4), int64(1), object(1)
memory usage: 2.9+ KB

#### Specify Data Types
By default ```read_csv``` only import data types of float64 and **object(str)**. This is done through auto detection.  
To customize the data type, use **```dtype```** parameter with a **dict** of definition.

In [215]:
d_types = {'Volume': str}
pd.read_csv('data/goog.csv', dtype=d_types).head()

         Date        Open        High         Low       Close   Volume
0  12/19/2016  790.219971  797.659973  786.270020  794.200012  1225900
1  12/20/2016  796.760010  798.650024  793.270020  796.419983   925100
2  12/21/2016  795.840027  796.676025  787.099976  794.559998  1208700
3  12/22/2016  792.359985  793.320007  788.580017  791.260010   969100
4  12/23/2016  790.900024  792.739990  787.280029  789.909973   623400

In [216]:
pd.read_csv('data/goog.csv', dtype=d_types).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
Date      61 non-null object
Open      61 non-null float64
High      61 non-null float64
Low       61 non-null float64
Close     61 non-null float64
Volume    61 non-null object
dtypes: float64(4), object(2)
memory usage: 2.9+ KB

#### On The Fly Date Parsing and Indexing
You can specify multiple date-alike column for parsing

In [217]:
pd.read_csv('data/goog.csv', parse_dates=['Date']).head()

        Date        Open        High         Low       Close   Volume
0 2016-12-19  790.219971  797.659973  786.270020  794.200012  1225900
1 2016-12-20  796.760010  798.650024  793.270020  796.419983   925100
2 2016-12-21  795.840027  796.676025  787.099976  794.559998  1208700
3 2016-12-22  792.359985  793.320007  788.580017  791.260010   969100
4 2016-12-23  790.900024  792.739990  787.280029  789.909973   623400

In [218]:
pd.read_csv('data/goog.csv', parse_dates=['Date']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
Date      61 non-null datetime64[ns]
Open      61 non-null float64
High      61 non-null float64
Low       61 non-null float64
Close     61 non-null float64
Volume    61 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 2.9 KB

#### Parse Date, Then Set as Index
When date is set as index, the type is **```DateTimeIndex```**

In [219]:
goo3 = pd.read_csv('data/goog.csv',index_col='Date', parse_dates=['Date'])

In [220]:
goo3.head()

                  Open        High         Low       Close   Volume
Date
2016-12-19  790.219971  797.659973  786.270020  794.200012  1225900
2016-12-20  796.760010  798.650024  793.270020  796.419983   925100
2016-12-21  795.840027  796.676025  787.099976  794.559998  1208700
2016-12-22  792.359985  793.320007  788.580017  791.260010   969100
2016-12-23  790.900024  792.739990  787.280029  789.909973   623400

**Observe index is now DateTime data type**

In [221]:
type(goo3.index)

pandas.core.indexes.datetimes.DatetimeIndex

## Frequency Table (crosstab)

crosstab returns **Dataframe Object**
```
crosstab( index = <SeriesObj>, columns = <colName> )                    # one dimension table
crosstab( index = <SeriesObj>, columns = <SeriesObj> )                  # two dimension table
crosstab( index = <SeriesObj>, columns = [<SeriesObj1>, <SeriesObj2>] ) # multi dimension table   
crosstab( index = <SeriesObj>, columns = <SeriesObj>, margines=True )   # add column and row margins
```

### Sample Data

In [222]:
n = 200
comp = ['C' + i for i in np.random.randint( 1,4, size  = n).astype(str)] # 3x Company
dept = ['D' + i for i in np.random.randint( 1,6, size  = n).astype(str)] # 5x Department
grp =  ['G' + i for i in np.random.randint( 1,3, size  = n).astype(str)] # 2x Groups
value1 = np.random.normal( loc=50 , scale=5 , size = n)
value2 = np.random.normal( loc=20 , scale=3 , size = n)
value3 = np.random.normal( loc=5 , scale=30 , size = n)

mydf = pd.DataFrame({
    'comp':comp, 
    'dept':dept, 
    'grp': grp,
    'value1':value1, 
    'value2':value2,
    'value3':value3 })
mydf.head()

  comp dept grp     value1     value2     value3
0   C1   D3  G2  45.132603  20.170157   6.740557
1   C1   D3  G2  46.180146  19.885813  -7.651088
2   C2   D2  G2  54.856648  17.716647 -22.138893
3   C3   D4  G1  56.956977  20.149642  33.682010
4   C2   D2  G1  50.188809  22.869554  64.539563

### One DimensionTable

In [223]:
pd.crosstab(index=mydf.comp, columns='counter')

col_0  counter
comp
C1          78
C2          62
C3          60

In [224]:
type(pd.crosstab(index=mydf.comp, columns='counter'))

pandas.core.frame.DataFrame

### Two Dimension Table

In [225]:
pd.crosstab(index=mydf.comp, columns=mydf.dept)

dept  D1  D2  D3  D4  D5
comp
C1    13  13  17  21  14
C2     9  13  13  17  10
C3    12  13  10  13  12

### Higher Dimension Table

In [226]:
tb = pd.crosstab(index=mydf.comp, columns=[mydf.dept, mydf.grp])
tb

dept D1    D2    D3      D4     D5
grp  G1 G2 G1 G2 G1  G2  G1  G2 G1 G2
comp
C1    7  6  6  7  7  10   9  12  7  7
C2    5  4  6  7  6   7  10   7  3  7
C3    4  8  8  5  3   7   4   9  4  8

Get the **subtable** under D2

In [227]:
tb['D2']

grp   G1  G2
comp
C1     6   7
C2     6   7
C3     8   5

### Getting Margin
New column and row labeled 'All' will be created

In [228]:
tb = pd.crosstab(index=mydf.dept, columns=mydf.grp, margins=True)
tb

grp   G1   G2  All
dept
D1    16   18   34
D2    20   19   39
D3    16   24   40
D4    23   28   51
D5    14   22   36
All   89  111  200

In [229]:
tb['All']   # row total, return a Series

dept
D1      34
D2      39
D3      40
D4      51
D5      36
All    200
Name: All, dtype: int64

In [230]:
tb.loc['All'] # column total, return a Series

grp
G1      89
G2     111
All    200
Name: All, dtype: int64

### Getting Proportion
Use matrix operation divide for each cells over the margin

In [231]:
tb/tb.loc['All']

grp         G1        G2    All
dept
D1    0.179775  0.162162  0.170
D2    0.224719  0.171171  0.195
D3    0.179775  0.216216  0.200
D4    0.258427  0.252252  0.255
D5    0.157303  0.198198  0.180
All   1.000000  1.000000  1.000

### Reseting Index
- When creating a crosstab, **column specified by index** will become index  
- To convert it to normal column, use **reset_index()**
```
DataFrameObj.reset_index( inpalce=False )
```

In [232]:
tb.reset_index()

grp dept  G1   G2  All
0     D1  16   18   34
1     D2  20   19   39
2     D3  16   24   40
3     D4  23   28   51
4     D5  14   22   36
5    All  89  111  200

## GroupBy
- Aggretation and summarization require creating **DataFrameGroupBy** object from existing DataFrame  
- The **GroupBy** object is a **very flexible abstraction**. In many ways, you can simply treat it as if it's a **collection of DataFrames**, and it does the difficult things under the hood

In [386]:
company = pd.read_csv('data/company.csv')
company.head()

  Company Department      Name  Age  Salary  Birthdate
0      C1         D1      Yong   45   15000   1/1/1970
1      C1         D1      Chew   35   12000   2/1/1980
2      C1         D2       Lim   34    8000  2/19/1977
3      C1         D3     Jessy   23    2500  3/15/1990
4      C1         D3  Hoi Ming   55   25000  4/15/1987

### Creating Groups

In [389]:
com_grp = company.groupby(['Company','Department'])
com_grp

### Properties

#### Number of Groups Created

In [236]:
com_grp.ngroups

9

#### Row Numbers Associated For Each Group

In [237]:
com_grp.groups  # return Dictionary

{('C1', 'D1'): Int64Index([0, 1], dtype='int64'),
 ('C1', 'D2'): Int64Index([2], dtype='int64'),
 ('C1', 'D3'): Int64Index([3, 4, 5], dtype='int64'),
 ('C2', 'D1'): Int64Index([6], dtype='int64'),
 ('C2', 'D2'): Int64Index([7, 8, 9], dtype='int64'),
 ('C2', 'D3'): Int64Index([10, 11, 12], dtype='int64'),
 ('C3', 'D1'): Int64Index([14], dtype='int64'),
 ('C3', 'D2'): Int64Index([15], dtype='int64'),
 ('C3', 'D3'): Int64Index([13, 16, 17], dtype='int64')}

### Methods

#### Number of Rows In Each Group

In [238]:
com_grp.size()  # return panda Series object

Company  Department
C1       D1            2
         D2            1
         D3            3
C2       D1            1
         D2            3
         D3            3
C3       D1            1
         D2            1
         D3            3
dtype: int64

#### Valid (not Null) Data Count For Each Fields In The Group

In [239]:
com_grp.count()  # return panda DataFrame object

                    Name  Age  Salary  Birthdate
Company Department
C1      D1             2    2       2          2
        D2             1    1       1          1
        D3             3    3       3          3
C2      D1             1    1       1          1
        D2             3    3       3          3
        D3             3    3       3          3
C3      D1             1    1       1          1
        D2             1    1       1          1
        D3             3    3       3          3

### Retrieve Rows
All row retrieval operations **return a dataframe**

#### Retrieve N Rows For Each Groups
Example below retrieve 2 rows from each group

In [240]:
com_grp.head(2)

   Company Department      Name  Age  Salary   Birthdate
0       C1         D1      Yong   45   15000    1/1/1970
1       C1         D1      Chew   35   12000    2/1/1980
2       C1         D2       Lim   34    8000   2/19/1977
3       C1         D3     Jessy   23    2500   3/15/1990
4       C1         D3  Hoi Ming   55   25000   4/15/1987
..     ...        ...       ...  ...     ...         ...
11      C2         D3   Jeannie   30   12500  12/31/1980
13      C3         D3     Chang   32    7900   7/26/1973
14      C3         D1       Ong   44   17500   8/21/1980
15      C3         D2      Lily   41   15300   7/17/1990
16      C3         D3     Sally   54   21000   7/19/1968

[14 rows x 6 columns]

#### Retrieve Rows In One Specific Group

In [241]:
com_grp.get_group(('C1','D3'))

  Company Department      Name  Age  Salary  Birthdate
3      C1         D3     Jessy   23    2500  3/15/1990
4      C1         D3  Hoi Ming   55   25000  4/15/1987
5      C1         D3   Sui Wei   56    3000  6/15/1990

#### Retrieve n-th Row From Each Group
Row number is 0-based

In [242]:
com_grp.nth(-1)    # retireve last row from each group

                    Age   Birthdate     Name  Salary
Company Department
C1      D1           35    2/1/1980     Chew   12000
        D2           34   2/19/1977      Lim    8000
        D3           56   6/15/1990  Sui Wei    3000
C2      D1           18   7/15/1997     Anne     400
        D2           46  10/31/1988    Jimmy   14000
        D3           29   12/1/1963  Bernard    9800
C3      D1           44   8/21/1980      Ong   17500
        D2           41   7/17/1990     Lily   15300
        D3           37   3/16/1969   Esther   13500

### Iteration
**DataFrameGroupBy** object can be thought as a collection of named groups

In [243]:
def print_groups (g):
    for name,group in g:
        print (name)
        print (group[:2])
        
print_groups (com_grp)

('C1', 'D1')
  Company Department  Name  Age  Salary Birthdate
0      C1         D1  Yong   45   15000  1/1/1970
1      C1         D1  Chew   35   12000  2/1/1980
('C1', 'D2')
  Company Department Name  Age  Salary  Birthdate
2      C1         D2  Lim   34    8000  2/19/1977
('C1', 'D3')
  Company Department      Name  Age  Salary  Birthdate
3      C1         D3     Jessy   23    2500  3/15/1990
4      C1         D3  Hoi Ming   55   25000  4/15/1987
('C2', 'D1')
  Company Department  Name  Age  Salary  Birthdate
6      C2         D1  Anne   18     400  7/15/1997
('C2', 'D2')
  Company Department     Name  Age  Salary  Birthdate
7      C2         D2  Deborah   30    8600  8/15/1984
8      C2         D2  Nikalus   51   12000  9/18/2000
('C2', 'D3')
   Company Department     Name  Age  Salary   Birthdate
10      C2         D3  Michael   38   17000  11/30/1997
11      C2         D3  Jeannie   30   12500  12/31/1980
('C3', 'D1')
   Company Department Name  Age  Salary  Birthdate
14      C3         D1  Ong   44   17500  8/21/1980
('C3', 'D2')
   Company Department  Name  Age  Salary  Birthdate
15      C3         D2  Lily   41   15300  7/17/1990
('C3', 'D3')
   Company Department   Name  Age  Salary  Birthdate
13      C3         D3  Chang   32    7900  7/26/1973
16      C3         D3  Sally   54   21000  7/19/1968

In [244]:
com_grp

### Apply Aggregate Functions to Groups
Aggregate apply functions to columns in every groups, and return a summary data for each group

#### Apply One Function to One or More Columns

In [245]:
com_grp['Age'].sum()

Company  Department
C1       D1             80
         D2             34
         D3            134
C2       D1             18
         D2            127
         D3             97
C3       D1             44
         D2             41
         D3            123
Name: Age, dtype: int64

In [246]:
com_grp[['Age','Salary']].sum()

                    Age  Salary
Company Department
C1      D1           80   27000
        D2           34    8000
        D3          134   30500
C2      D1           18     400
        D2          127   34600
        D3           97   39300
C3      D1           44   17500
        D2           41   15300
        D3          123   42400

#### Apply One or More Functions To All Columns

In [247]:
com_grp.agg(np.mean)

                          Age        Salary
Company Department
C1      D1          40.000000  13500.000000
        D2          34.000000   8000.000000
        D3          44.666667  10166.666667
C2      D1          18.000000    400.000000
        D2          42.333333  11533.333333
        D3          32.333333  13100.000000
C3      D1          44.000000  17500.000000
        D2          41.000000  15300.000000
        D3          41.000000  14133.333333

In [248]:
com_grp.agg([np.mean,np.sum])

                          Age             Salary
                         mean  sum          mean    sum
Company Department
C1      D1          40.000000   80  13500.000000  27000
        D2          34.000000   34   8000.000000   8000
        D3          44.666667  134  10166.666667  30500
C2      D1          18.000000   18    400.000000    400
        D2          42.333333  127  11533.333333  34600
        D3          32.333333   97  13100.000000  39300
C3      D1          44.000000   44  17500.000000  17500
        D2          41.000000   41  15300.000000  15300
        D3          41.000000  123  14133.333333  42400

#### Apply Different Functions To Different Columns

In [249]:
com_grp.agg({'Age':np.mean, 'Salary': [np.min,np.max]})

                          Age Salary
                         mean   amin   amax
Company Department
C1      D1          40.000000  12000  15000
        D2          34.000000   8000   8000
        D3          44.666667   2500  25000
C2      D1          18.000000    400    400
        D2          42.333333   8600  14000
        D3          32.333333   9800  17000
C3      D1          44.000000  17500  17500
        D2          41.000000  15300  15300
        D3          41.000000   7900  21000

### Transform

- Transform is an operation used combined with **DataFrameGroupBy** object  
- **transform()** return a **new DataFrame object**

In [250]:
grp = company.groupby('Company')
grp.size()

Company
C1    6
C2    7
C3    5
dtype: int64

**transform()** perform a function to a group, and **expands and replicate** it to multiple rows according to original DataFrame

In [251]:
grp[['Age','Salary']].transform('sum')

    Age  Salary
0   248   65500
1   248   65500
2   248   65500
3   248   65500
4   248   65500
..  ...     ...
13  208   75200
14  208   75200
15  208   75200
16  208   75200
17  208   75200

[18 rows x 2 columns]

In [252]:
grp.transform( lambda x:x+10 )

    Age  Salary
0    55   15010
1    45   12010
2    44    8010
3    33    2510
4    65   25010
..  ...     ...
13   42    7910
14   54   17510
15   51   15310
16   64   21010
17   47   13510

[18 rows x 2 columns]

## Concat

### Sample Data

In [253]:
s1 = pd.Series(['A1','A2','A3','A4'])
s2 = pd.Series(['B1','B2','B3','B4'])
s3 = pd.Series(['C1','C2','C3','C4'])
df = pd.DataFrame({ 'A': s1, 'B': s2})
df

    A   B
0  A1  B1
1  A2  B2
2  A3  B3
3  A4  B4

### Column-Wise

#### Multiple Arrays/Series
- Added series will have 0,1,2,... column names

In [254]:
pd.concat([s1,s2,s3],axis=1)

    0   1   2
0  A1  B1  C1
1  A2  B2  C2
2  A3  B3  C3
3  A4  B4  C4

#### DataFrame and Series
- No change to original data frame column name
- Added columns from series will have 0,1,2,3,.. column name

In [255]:
pd.concat([df,s3,s1],axis=1)

    A   B   0   1
0  A1  B1  C1  A1
1  A2  B2  C2  A2
2  A3  B3  C3  A3
3  A4  B4  C4  A4

### Row-Wise

## Fundamental Analysis

### Structure of the Dataframe (.info())
**info()** is a function that print information to screen. It doesn't return any object
```
dataframe.info()  # display columns and number of rows (that has no missing data)
```

In [256]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
A    4 non-null object
B    4 non-null object
dtypes: object(2)
memory usage: 144.0+ bytes

### First Few Rows (.head())
```
dataframe.head (n) # return dataframe of first n rows, default n = 5
```

In [257]:
df.head()

    A   B
0  A1  B1
1  A2  B2
2  A3  B3
3  A4  B4

## Missing Data

### What Is Considered Missing Data ?

### Sample Data

In [258]:
df = pd.DataFrame( np.random.randn(5, 3), 
                   index   =['a', 'c', 'e', 'f', 'h'],
                   columns =['one', 'two', 'three'])
df['four'] = 'bar'
df['five'] = df['one'] > 0
df
df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

        one       two     three four   five
a  0.366083 -0.690501 -0.736248  bar   True
b       NaN       NaN       NaN  NaN    NaN
c -0.607350  0.800183 -0.412550  bar  False
d       NaN       NaN       NaN  NaN    NaN
e  0.684213 -0.148327 -1.432006  bar   True
f  0.469932  0.420283  0.586002  bar   True
g       NaN       NaN       NaN  NaN    NaN
h -1.700706 -0.289902 -1.803585  bar  False

**How Missing Data For Each Column ?**

In [259]:

df.count()

one      5
two      5
three    5
four     5
five     5
dtype: int64

In [260]:
len(df.index) - df.count()

one      0
two      0
three    0
four     0
five     0
dtype: int64

In [261]:
df.isnull()

     one    two  three   four   five
a  False  False  False  False  False
c  False  False  False  False  False
e  False  False  False  False  False
f  False  False  False  False  False
h  False  False  False  False  False

In [262]:
df.describe()

            one       two     three
count  5.000000  5.000000  5.000000
mean  -0.157566  0.018347 -0.759677
std    0.995005  0.591203  0.931889
min   -1.700706 -0.690501 -1.803585
25%   -0.607350 -0.289902 -1.432006
50%    0.366083 -0.148327 -0.736248
75%    0.469932  0.420283 -0.412550
max    0.684213  0.800183  0.586002

## Pandas DateTime
pandas contains **extensive capabilities and features** for working with time series data for all domains. Using the NumPy **datetime64 and timedelta64** dtypes  

**```panda.Timestamp```**, a subclass of **datetime.datetime**, is pandas scalar type for timezone-naive or timezone-aware datetime data. It mimics datetime.datime

## DatetimeIndex
### Creating 
Source can be **string, date, datetime object**

#### Convert From
When the input is **list-like**, **```to_datetime```** convert to **DateTimeIndex**

In [278]:
dti = pd.to_datetime(['2011-01-03',      # from string
                date(2018,4,13),        # from date
                datetime(2018,3,1,7,30)]# from datetime
              )
dti

DatetimeIndex(['2011-01-03 00:00:00', '2018-04-13 00:00:00',
               '2018-03-01 07:30:00'],
              dtype='datetime64[ns]', freq=None)

In [279]:
dti[1]

Timestamp('2018-04-13 00:00:00')

### Instance Method

#### Convert to datetime.datetime 
Use **```to_pydatetime```** to convert into python standard datetime object

In [280]:
dti.to_pydatetime()

array([datetime.datetime(2011, 1, 3, 0, 0),
       datetime.datetime(2018, 4, 13, 0, 0),
       datetime.datetime(2018, 3, 1, 7, 30)], dtype=object)

#### Convert to Series ```to_series```
This creates **index and data** with the same value

In [281]:
dti = pd.date_range('2018-02', periods=4, freq='M')
dts = dti.to_series()
print( dts)

2018-02-28   2018-02-28
2018-03-31   2018-03-31
2018-04-30   2018-04-30
2018-05-31   2018-05-31
Freq: M, dtype: datetime64[ns]

#### Convert to DataFrame ```to_frame()```
This convert to **single column** dataframe with index as the same value

In [282]:
dtf = dti.to_frame()
dtf

                    0
2018-02-28 2018-02-28
2018-03-31 2018-03-31
2018-04-30 2018-04-30
2018-05-31 2018-05-31

In [283]:
dtf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4 entries, 2018-02-28 to 2018-05-31
Freq: M
Data columns (total 1 columns):
0    4 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 64.0 bytes

### Properties

In [284]:
dti = pd.date_range('2018-02', periods=4, freq='D')

In [285]:
print( dti.weekday )
print( dti.month   )

Int64Index([3, 4, 5, 6], dtype='int64')
Int64Index([2, 2, 2, 2], dtype='int64')